<style>
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>

<h2>Employee Table</h2>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Annual Salary</th>
    <th>Date of Birth</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees;trackBy:trackByEmpId">
    <td>{{ employee.id }}</td>
    <td>{{ employee.name }}</td>
     <td>{{ employee.gender }}</td>
      <td>{{ employee.annualSalary }}</td>
       <td>{{ employee.dateOfBirth }}</td>
  </tr>
  </tbody>
</table>




<router-outlet></router-outlet>